FROM node:24-slim

RUN apt-get update && apt-get install -y curl && rm -rf /var/lib/apt/lists/*

RUN groupadd --gid 2000 app && useradd --uid 2000 --gid 2000 -m -s /bin/bash app

WORKDIR /app

COPY package*.json ./

RUN npm ci --verbose

COPY --chown=app:app . .

RUN npm run build

USER app

EXPOSE 3000

CMD ["node", "server.js"]