@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  transition: background-color 0.3s, color 0.3s; 
  overscroll-behavior-y: none; 
  font-family: 'Exo 2', sans-serif; 
}

h1, h2, h3, h4, h5, h6, .font-pixel { 
  font-family: 'Orbitron', sans-serif; 
}

::-webkit-scrollbar { width: 8px; height: 8px; }
.dark ::-webkit-scrollbar-track { background: #09090b; }
.dark ::-webkit-scrollbar-thumb { background: #3f3f46; }
.dark ::-webkit-scrollbar-thumb:hover { background: #4ade80; }
.light ::-webkit-scrollbar-track { background: #e5e7eb; }
.light ::-webkit-scrollbar-thumb { background: #9ca3af; }
.light ::-webkit-scrollbar-thumb:hover { background: #4b5563; }

/* Winamp Scrollbar */
.winamp-scroll ::-webkit-scrollbar { width: 10px; height: 10px; }
.winamp-scroll ::-webkit-scrollbar-track { background: #292929; border-left: 1px solid #505050; }
.winamp-scroll ::-webkit-scrollbar-thumb { background: #505050; border: 1px solid #fff; border-right: 1px solid #000; border-bottom: 1px solid #000; }
.winamp-scroll ::-webkit-scrollbar-thumb:active { background: #292929; }

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
.pb-safe { padding-bottom: env(safe-area-inset-bottom); }